<nav>
    <ul class="navbar-container">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/stuffs">Stuffs</a></li>
    </ul>
    <ul>
        <li><a href="/users/logout" class="btn btn-secondary">Logout</a></li>
    </ul>
</nav>