<nav class="shadow-md navbar">
    {{#if loggedIn}}
    <div class="mr-8">
        <a href="/dashboard" class="ml-4 text-white">
            NR Solutions
        </a>
    </div>
    <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">
        <div class="lg:flex-grow">
            <a href="/dashboard"
                class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white nav-link">
                Home
            </a>
            <a href="/clients"
                class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white nav-link">
                Clients
            </a>
        </div>
    </div>

    <div class="">
        <a href="/users/logout" class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white">
            Logout
        </a>
    </div>
    {{else}}
    <div class="mx-auto">

        <p class="p-2 text-2xl text-center text-white ">AD Demo | NR Solutions</p>
    </div>
    {{/if}}
</nav>