<nav class="shadow-md navbar">
    {{#if loggedIn}}
    <div class="mr-8">
        <a href="/dashboard"
            class="block p-3 mt-4 mr-2 font-semibold text-teal-400 lg:inline-block lg:mt-0 hover:text-white">
            Logo
        </a>
    </div>
    <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="/dashboard" class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white">
                Home
            </a>
            <a href="/clients" class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white">
                Clients
            </a>
        </div>
    </div>

    <div class="">
        <a href="/users/logout" class="block p-3 mt-4 mr-2 text-gray-400 lg:inline-block lg:mt-0 hover:text-white">
            Logout
        </a>
    </div>
    {{else}}
    <div class="mx-auto">

        <p class=" p-2 text-center text-white text-2xl">AD Demo</p>
    </div>
    {{/if}}
</nav>